
.banner-area .top-text{
   /* background: -moz-linear-gradient(0deg, #dfb5db 0%, #55a0b2 100%); */
    background: #222831;
    background-size: 100%;
}
.banner-area .top-notes{
    /* background: -moz-linear-gradient(0deg, #dfb5db 0%, #55a0b2 100%); */
    background-size: 100%;
    margin-top: -8px;
}
.banner-area  {
    height: 10% !important;
width:100%;

}

.banner-area .top-text h5{
    color: #fff;
    font-size: 10px;
    margin-left:2%;

}
.top-notes h5{
    color: #fff;
    font-size: 10px;
}
 .field{
    background: #222831;
    font-size: 10px;
    text-align: center;

}

 .method{
     background : #d5abaa;
    font-size: 10px;
    text-align: center;
}

 .data{
     background: #81a5a8;
     font-size: 10px;
     text-align: center;
 }
 .technology{
     background : #756b87;
    font-size: 10px;
    text-align: center;
}