
.banner-area .top-text{
   /* background: -moz-linear-gradient(0deg, #dfb5db 0%, #55a0b2 100%); */
    background: #000;
    background-size: 100%;
    height: 30px;
    text-align: center;
}

.banner-area  {
width:100%;
}

.banner-area .top-text h5{
    color: #fff;
    font-size: 70%;
    line-height:30px;
}
.top-notes h5{
    color: #fff;
    font-size: 80%;
    text-align: center;
    line-height:30px;
}

.new-function h5{
    font-size: 70%;
}
/*********************************hover事件*********************************/
.field :hover{
    color: #fff;
    background: linear-gradient(0deg, #222831 0%, #877f81 100%);
    text-decoration: none;
}
.method :hover{
    color: #fff;
    background: linear-gradient(0deg, #d5abaa 0%, #e8d5d3 100%);
    text-decoration: none;
}
.data :hover{
    color: #fff;
    background: linear-gradient(0deg, #81a5a8 0%, #c2cfd1 100%);
    text-decoration: none;
}
.technology :hover{
    color: #fff;
    background: linear-gradient(0deg, #756b87 0%, #b6adbb 100%);
    text-decoration: none;
}
.show-all :hover{
    color: #fff;
    background: linear-gradient(0deg, #f6c675 0%, #f7dfb7 100%);
    text-decoration: none;
}
/***********************************************************************/


 .field{
    background: #222831;
     height: 30px;
    text-align: center;
}

 .method{
     background : #d5abaa;
     height: 30px;
    text-align: center;

}

 .data{
     background: #81a5a8;
     height: 30px;
     text-align: center;
 }
 .technology{
     background : #756b87;
     height: 30px;
    text-align: center;

}

 .show-all{
     background: #f6c675;
     height: 30px;
     text-align: center;

 }
 .new-function{
     background: #888;
     height: 30px;
     text-align: center;
 }
